#gallery .isotope-item{
    background: #D9E0E7;
    margin: 0 0 1em 0;
}
#gallery .isotope-item .image-inner{
    padding: 1em 1em 0 1em;
}
#gallery .isotope-item .image-inner .image-caption{
    padding: 0 1em;
}
#gallery .isotope-item .image-info{
    padding: 0 1em 1em 1em;
}
.modal-dialog .receipt {
	max-width: 570px;
	cursor: pointer;
}
.modal-dialog.modal-lg .receipt {
	max-width: 870px;
}