@font-face {
    font-family: "Cent21";
    src: url('/fonts/Cent21-Regular.eot');
    src: url('/fonts/Cent21-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Cent21-Regular.woff') format('woff'),
    url('/fonts/Cent21-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Helvetica, sans-serif, Arial;
    color: #000;
    font-size: 16px;
    line-height: 1.28;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //min-width: 320px;
    transform-origin: top left;
    /*width: 981px;*/
    height: 721px;
    overflow: hidden;
    > img {
        display: none;
    }
}

input, button, textarea {
    font-family: Helvetica, sans-serif, Arial;
    color: #44368f;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
    &:hover,
    &:active,
    &:focus {
        color: #000;
        text-decoration: none;
        outline: none;
    }
}
a.link {
    transition: all .2s ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover,
    &:active,
    &:focus {
        &[href] {
            border-bottom-color: #e2c093;
        }
    }
}

p {

}

.wrapper {
    overflow: hidden;
}
