footer {
    width: 100%;
    max-width: 980px;
    border-top: 1px solid #cecece;
    padding-top: 15px;
    margin: 0 auto 50px;
    .f_copy {
        font-size: 18px;
        color: #000;
        padding-bottom: 10px;
    }
    .f_small {
        font-size: 14px;
        color: #9c9c9c;
    }
}

.modal {
    background: rgba(255,255,255,0.8);
    &-content {
        background: #f9f9f9;
        box-shadow: 0px 13px 49px rgba(213,213,213,1);
        border: none;
        border-radius: 0px;
    }
    &-header {
        border: none;
        text-align: center;
        padding: 40px 20px;
        h4 {
            font-size: 27px;
            color: #000000;
            text-transform: uppercase;
        }
    }
    &-body {
        padding: 0 40px 15px;
        font-size: 14px;
    }
    &-footer {
        border: none;
        text-align: center;
        button {
            display: inline-block;
            background: #662583;
            text-align: center;
            font-size: 22px;
            color: #FFFFFF;
            min-width: 92px;
            font-weight: bold;
            height: 45px;
            line-height: 45px;
            border: none;
            border-radius: 0;
            padding: 0;
        }
    }
}