.form {
    background: #f9f9f9;
    width: 546px;
    padding: 30px 30px 40px;
    margin: 0 auto 50px;
    &_row {
        @include clearfix;
        label {
            display: block;
            font-size: 16px;
            color: #646464;
            height: 30px;
            line-height: 30px;
            font-weight: normal;
            span {
                color: #FF0000;
            }
        }
        input[type="text"] {
            font-size: 14px;
            line-height: 16px;
            padding: 10px 8px;
            border: 1px solid #838383;
            background: #FFFFFF;
            width: 100%;
            margin-bottom: 20px;
            &.input-error {
                border-color: #662583;
            }
        }
        select {
            font-size: 14px;
            line-height: 16px;
            padding: 10px 8px;
            border: 1px solid #838383;
            background: #FFFFFF;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .select2-container .select2-selection--single {
            @include clearfix;
            font-size: 14px;
            line-height: 16px;
            padding: 5px 8px;
            height: 40px;
            border: 1px solid #838383;
            background: #FFFFFF;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 0px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 6px;
            right: 16px;
        }
        .dropdown-menu {
            padding: 5px;
            input {
                margin-bottom: 0;
            }
        }
        .glyphicon {
            display: none;
        }
        p.error {
            display: none;
            position: absolute;
            font-size: 12px;
            font-weight: bold;
            bottom: 3px;
            left: 0px;
            color: #662583;
            padding: 0;
            margin: 0;
        }
    }
    &_input {
        position: relative;
        float: left;
        width: 230px;
        margin-right: 20px;
        &:nth-child(2) {
            margin-right: 0;
        }
    }
    &_date {
        select {
            float: left;
            font-size: 14px;
            line-height: 16px;
            padding: 10px 8px;
            border: 1px solid #838383;
            background: #FFFFFF;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
    &_checkbox {
        label {
            > span {
                padding-left: 10px;
                a {
                    font-size: 14px;
                    color: #000;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        p.tip {
            margin: 0;
            padding: 0;
            font-size: 14px;
            span {
                color: #FF0000;
            }
        }
    }
    hr {
        border-color: #e0e0e0;
        margin: 10px 0;
    }
    &_row_buttons {
        text-align: center;
        padding-top: 20px;
        width: 370px;
        margin: 0 auto;
        @include clearfix;

        button {
            float: left;
            height: 58px;
            border: none;
            margin: 0 5px;
            font-size: 18px;
            line-height: 20px;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            padding: 0 20px;
            &.btn_purple {
                background: #662583;
            }
            &.btn_gray {
                background: #838383;
            }
        }
    }
}

/*.unsubscribe {
    background: #f9f9f9;
    width: 546px;
    padding: 30px 30px 40px;
    margin: 0 auto 50px;
    h2 {
        text-align: center;
        a {
            color: #662583;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .button_row {
        text-align: center;
        padding-top: 20px;
        width: 370px;
        margin: 0 auto;
        @include clearfix;

        .button {
            display: inline-block;
            height: 58px;
            border: none;
            margin: 0 5px;
            font-size: 18px;
            line-height: 58px;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            padding: 0 20px;
            min-width: 120px;
            &.ok {
                background: #662583;
            }
            &.cancel {
                background: #838383;
            }
        }
    }
}*/


.unsubscribe_page {
    background: #ede7ef;
    &_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        h2 {
            text-align: center;
            font-family: Cent21;
            color: #000010;
            font-size: 32px;
            margin-top: 0;
        }
        p {
            text-align: center;
            font-family: Ubuntu;
            font-size: 18px;
            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}