.game-container
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.game {
    font-family: Ubuntu;
    /*position: absolute;
    left: 50%;
    top: 50%;*/
    display: inline-block;
    overflow: hidden;
    position: relative;
    /*margin-top: -360.5px;
    margin-left: -480.5px;*/
    text-align: left;
    
    &__wrap {
        position: relative;
        width: 981px;
        height: 721px;
        background: url('/game/images/background.jpg') top left/contain no-repeat;
    }

    &__loader {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 981px;
        height: 721px;
        background: rgba(102,36,131,0.72);
        z-index: 20;
        &_animation {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            span {
                display: block;
                color: #FFFFFF;
                text-align: center;
                width: 100%;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: bold;
            }
            &:before {
                content: '';
                display: block;
                width: 223px;
                height: 223px;
                margin-bottom: 30px;
                //background: url('/game/images/preloader.png') top left/contain no-repeat;
                background-image: url("/game/images/preloader.png");
                background-position: 0% 0%;
                background-size: cover;

                animation: preloader_animation .5s steps(11) infinite;
                -webkit-animation: preloader_animation .5s steps(11) infinite;
            }
        }
    }

    &__timer {
        display: none;
        position: absolute;
        top: 0px;
        right: -18px;
        width: 304px;
        height: 105px;
        background: url('/game/images/timer.png') top left/contain no-repeat;
        &_digit {
            display: block;
            position: absolute;
            top: 18px;
            width: 46px;
            height: 43px;
            text-align: center;
            border-radius: 5px;
            background-color: #fff;
            background: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(235,235,235) 35%, rgb(255,255,255) 43%);
            background: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(235,235,235) 35%, rgb(255,255,255) 43%);
            background: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(235,235,235) 35%, rgb(255,255,255) 43%);
            box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.55),inset 0px 1px 5px 0px rgba(0, 0, 0, 0.16);
            line-height: 43px;
            font-size: 28px;
            color: #444444;
            font-weight: bold;
            &.m {
                left: 53px;
            }
            &.s {
                left: 119px;
            }
            &.ms {
                left: 185px;
                width: 71px;
            }
        }
        &_delimiter {
            display: block;
            position: absolute;
            top: 18px;
            width: 20px;
            height: 43px;
            text-align: center;
            line-height: 43px;
            font-size: 28px;
            color: #FFFFFF;
            font-weight: bold;
            &.m {
                left: 99px;
            }
            &.s {
                left: 165px;
            }
        }
    }

    &__panel {
        display: none;
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        &_rules {
            position: absolute;
            top: -25px;
            left: -390px;
            color: #efefef;
            font-size: 14px;
            font-weight: bold;
            width: 110px;
            cursor: pointer;
            text-align: center;
            z-index: 2;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -55px;
                left: 28px;
                width: 55px;
                height: 55px;
                border: 8px solid #662483;
                border-radius: 55px;
                background: #FFFFFF url('/game/images/rules.png') top left/contain no-repeat;
            }
        }
        &_name {
            position: absolute;
            top: -84px;
            left: -165px;
            font-size: 18px;
            line-height: 18px;
            color: #FFFFFF;
            width: 155px;
            font-weight: bold;
        }
        &_card {
            position: absolute;
            top: -84px;
            left: -280px;
            width: 280px;
            height: 84px;
            background: url('/game/images/card.png') top left/contain no-repeat;
            box-sizing: border-box;
            padding-top: 38px;
            padding-left: 116px;
            font-size: 18px;
            line-height: 18px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }

    &__woman {
        width: 242px;
        height: 530px;
        position: absolute;
        top: 100px;
        right: 30px;
        z-index: 1;
        &.game__woman_big {
            width: 480px;
            height: 614px;
            top: 109px;
            right: -30px;
        }

        &.game__woman_1 {
            background: url('/game/images/women/1/main.png') top left/contain no-repeat;
        }
        &.game__woman_2 {
            background: url('/game/images/women/2/main.png') top left/contain no-repeat;
        }
        &.game__woman_3 {
            background: url('/game/images/women/3/main.png') top left/contain no-repeat;
        }
        &.game__woman_4 {
            background: url('/game/images/women/4/main.png') top left/contain no-repeat;
        }
        &.game__woman_5 {
            background: url('/game/images/women/5/main.png') top left/contain no-repeat;
        }
        &.game__woman_6 {
            background: url('/game/images/women/6/main.png') top left/contain no-repeat;
        }
        &.game__woman_7 {
            background: url('/game/images/women/7/main.png') top left/contain no-repeat;
        }
        &.game__woman_8 {
            background: url('/game/images/women/8/main.png') top left/contain no-repeat;
        }
        &.game__woman_9 {
            background: url('/game/images/women/9/main.png') top left/contain no-repeat;
        }
        &.game__woman_10 {
            background: url('/game/images/women/10/main.png') top left/contain no-repeat;
        }

        &.game__woman_big.game__woman_1 {
            background: url('/game/images/women/1/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_2 {
            background: url('/game/images/women/2/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_3 {
            background: url('/game/images/women/3/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_4 {
            background: url('/game/images/women/4/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_5 {
            background: url('/game/images/women/5/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_6 {
            background: url('/game/images/women/6/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_7 {
            background: url('/game/images/women/7/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_8 {
            background: url('/game/images/women/8/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_9 {
            background: url('/game/images/women/9/big.png') top left/contain no-repeat;
        }
        &.game__woman_big.game__woman_10 {
            background: url('/game/images/women/10/big.png') top left/contain no-repeat;
        }
    }

    &__quest_final {
        display: none;
        position: relative;
        height: 721px;
        z-index: 5;
        &_bg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(239,239,239,0.8);
            z-index: 1;
        }
        &_body {
            position: relative;
            z-index: 2;
            padding: 0 35px;
            .title {
                font-size: 20px;
                line-height: 23px;
                color: #000010;
                font-family: Cent21;
                padding-top: 30px;
                margin-bottom: 10px;
                width: 687px;
                padding-left: 18px;
            }
            .row {
                @include clearfix;
                padding-bottom: 13px;
                .col {
                    float: left;
                    background: #ffffff;
                    border-radius: 20px;
                    padding: 25px;
                    height: 404px;
                    overflow: hidden;
                    overflow-y:auto;
                    &:nth-of-type(1) {
                        width: 420px;
                        margin-right: 20px;
                        overflow-y: auto;
                        padding-bottom: 10px;
                    }
                    &:nth-of-type(2) {
                        width: 463px;
                    }

                    .card_main {
                        @include clearfix;
                        position: relative;
                        padding-left: 140px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        p {
                            font-size: 14px;
                            padding-bottom: 10px !important;
                            text-transform: uppercase;
                        }
                        .woman_portrait {
                            position: absolute;
                            top: 0px;
                            left: -15px;
                            width: 153px;
                            height: 153px;
                        }
                    }

                    p {
                        font-size: 14px;
                        line-height: 18px;
                        padding-bottom: 10px;
                        margin: 0;
                        strong {
                            color: #662483;
                            font-size: 14px;
                            font-family: Cent21;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .answers {
                @include clearfix;
                background: #662483;
                border-radius: 20px;
                width: 903px;
                padding: 15px;
                .col {
                    float: left;
                    width: 50%;
                    padding: 0 10px;
                    input[type="radio"] {
                        vertical-align: top;
                        margin: 0 3px 0 0;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                    input[type="radio"] + label {
                        display: block;
                        cursor: pointer;
                    }
                    input[type="radio"]:not(checked) {
                        position: absolute;
                        opacity: 0;
                    }
                    input[type="radio"]:not(checked) + label {
                        position: relative;
                        padding: 0 0 10px 36px;
                        font-size: 15px;
                        color: #ffffff;
                        margin: 0;
                        font-weight: normal;
                    }
                    input[type="radio"] + label:before {
                        content: '';
                        display: block;
                        width: 17px;
                        height: 17px;
                        position: absolute;
                        top: 2px;
                        left: 0px;
                        border-radius: 50%;
                        background-color: #ffffff;
                        box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
                        z-index: 1;
                    }
                    input[type="radio"] + label:after {
                        content: '';
                        display: block;
                        width: 11px;
                        height: 11px;
                        position: absolute;
                        top: 5px;
                        left: 3px;
                        z-index: 2;
                        border-radius: 50%;
                        background-image: -moz-linear-gradient( -90deg, #80399f 0%, #5c1e77 100%);
                        background-image: -webkit-linear-gradient( -90deg, #80399f 0%, #5c1e77 100%);
                        background-image: -ms-linear-gradient( -90deg, #80399f 0%, #5c1e77 100%);
                    }

                    input[type="radio"]:not(checked) + label:after {
                        display: none;
                    }
                    input[type="radio"]:checked + label:after {
                        display: block;
                    }
                }
            }
        }
    }

    &__quest_list {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;
        width: 583px;
        height: 721px;
        background: url('/game/images/blur.jpg') top left/cover no-repeat;
        //border-right: 3px solid #efefef;

        .title {
            padding: 50px 60px 30px;
            font-family: Cent21;
            font-size: 20px;
            color: #000010;
        }
        .answers {
            padding: 0 60px;

            input[type="radio"] {
                vertical-align: top;
                margin: 0 3px 0 0;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            input[type="radio"] + label {
                display: block;
                cursor: pointer;
            }
            input[type="radio"]:not(checked) {
                position: absolute;
                opacity: 0;
            }
            input[type="radio"]:not(checked) + label {
                position: relative;
                padding: 10px 0 10px 75px;
                font-size: 17px;
                color: #000010;
                margin: 0;
                font-weight: normal;
            }
            input[type="radio"] + label:before {
                content: '';
                display: block;
                width: 33px;
                height: 33px;
                position: absolute;
                top: 0px;
                left: 0px;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                opacity: 0.6;
                box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
                z-index: 1;
            }
            input[type="radio"] + label:after {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 13px;
                left: 7px;
                z-index: 2;
                border-radius: 50%;
                background-image: -moz-linear-gradient( -90deg, #80399f 0%, #5c1e77 100%);
                background-image: -webkit-linear-gradient( -90deg, #80399f 0%, #5c1e77 100%);
                background-image: -ms-linear-gradient( -90deg, #80399f 0%, #5c1e77 100%);
            }

            input[type="radio"]:not(checked) + label:after {
                display: none;
            }
            input[type="radio"]:checked + label:after {
                display: block;
            }
        }

        &.game__quest_list_style1 {

        }

        &.game__quest_list_style2 {
            .answers {
                input[type="radio"]:not(checked) + label {
                    font-size: 20px;
                    line-height: 22px;
                }
            }
        }
    }

.game__wrap #card .game__modal_form{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 30%;
        width: 86%;
        margin-left: -230px;
        height:70%;
}

    &__modal {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        &_bg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.73);
        }
        &_close {
            position: absolute;
            top: 34px;
            right: 36px;
            width: 25px;
            height: 24px;
            cursor: pointer;
            background: url('/game/images/close_black.png') top left/contain no-repeat;
            z-index: 3;
            float: none;
            opacity: 1;
            &:hover {
                opacity: .85;
            }
        }

        &_results {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            width: 463px;
            margin-left: -230px;
            background: #ffffff;
            border-radius: 22px;
            -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
            @include transform(translateY(-50%));
            .results_close{
                position: absolute;
                top: -28px;
                right: -25px;
                width: 25px;
                height: 24px;
                cursor: pointer;
                background: url(/game/images/close_black.png) 0 0/contain no-repeat;
                z-index: 3;
                float: none;
                opacity: 1;
            }
            .title {
                height: 70px;
                line-height: 70px;
                text-align: center;
                font-family: Cent21;
                font-size: 42px;
                color: #000010;
                margin-bottom: 30px;
                margin-top: 10px;
            }

            .results_body {
                background: #ffffff;
                padding-top: 106px;
                position: relative;
                border-radius: 0 0 20px 20px;
                margin-bottom: 40px;
                .results_message{
                    font-family: Ubuntu;
                    font-size: 27px;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 10px 20px 0;
                }
                .results_link {
                    display: block;
                    font-family: Ubuntu;
                    font-size: 16px;
                    text-transform: uppercase;
                    padding-top: 10px;
                    text-align: center;
                    a {
                        text-decoration: underline;
                        color: #80399f;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .results_header {
                    position: absolute;
                    top: -20px;
                    left: 0px;
                    width: 463px;
                    height: 116px;
                    //background: url('/game/images/results_header.png') top left/contain no-repeat;
                    background: url('/game/images/Final-frame.png') top center no-repeat;
                    text-align: center;
                    line-height: 116px;
                    color:#fff;
                    font-size: 40px;
                    font-family: Ubuntu;
                    font-weight: bold;
                    padding-left:30px;
                    &_time {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        color: #FFFFFF;
                        .text {
                            display: block;
                            position: absolute;
                            top: 20px;
                            left: 73px;
                            width: 120px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 14px;
                            line-height: 14px;
                        }
                        .value {
                            position: absolute;
                            top: 56px;
                            left: 73px;
                            width: 151px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 25px;
                            line-height: 40px;
                            font-weight: bold;
                        }
                    }
                    &_answers {
                        position: absolute;
                        top: 0px;
                        left: 245px;
                        color: #FFFFFF;
                        .text {
                            display: block;
                            position: absolute;
                            top: 20px;
                            left: 0px;
                            width: 180px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 14px;
                            line-height: 14px;
                        }
                        .value {
                            position: absolute;
                            top: 56px;
                            left: 60px;
                            width: 85px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 25px;
                            line-height: 40px;
                            font-weight: 700;
                        }
                    }
                }
            }

            .results_list {
                padding: 0 25px;
                > .text {
                    height: 60px;
                    line-height: 60px;
                    font-family: Cent21;
                    font-size: 30px;
                    color: #000010;
                    margin-bottom: 20px;
                }
                .results_table {
                    width: 410px;
                    margin: 0 auto;
                    padding-bottom: 25px;
                    .results_table_row {
                        @include clearfix;
                        &.selected {
                            background: #eed5f4;
                            border-radius: 25px;
                        }
                        &.results_table_head {
                            border-bottom: 2px solid #eed5f4;
                            padding-bottom: 5px;
                            .results_table__cell {
                                line-height: 14px;
                                height: 28px;
                            }
                        }
                        .results_table__cell {
                            float: left;
                            line-height: 25px;
                            color: #464646;
                            text-transform: uppercase;
                            font-size: 14px;
                        }
                        .results_table__cell:nth-of-type(1) {
                            width: 180px;
                            padding-left: 12px;
                        }
                        .results_table__cell:nth-of-type(2) {
                            width: 90px;
                            text-align: center;
                        }
                        .results_table__cell:nth-of-type(3) {
                            width: 105px;
                            text-align: center;
                            margin-left: 35px;
                        }
                    }
                }
            }
        }

        &_form {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            width: 460px;
            margin-left: -230px;
            @include transform(translateY(-50%));
            .title {
                height: 70px;
                line-height: 70px;
                text-align: center;
                font-family: Cent21;
                font-size: 30px;
                color: #FFFFFF;
                background: #662483;
                border-radius: 20px 20px 0 0;
            }
            .close {
                position: absolute;
                top: 12px;
                right: 12px;
                width: 25px;
                height: 24px;
                cursor: pointer;
                background: url('/game/images/close.png') top left/contain no-repeat;
                z-index: 3;
                float: none;
                opacity: 1;
                &:hover {
                    opacity: .85;
                }
            }
            .modal_body {
                background: #fff;
                padding: 35px 25px;
                border-radius: 0 0 20px 20px;
            }
            .modal_card{
                height: 100%;
            }
        }
    }

    #registration {
        .modal_body {
            padding: 40px 70px;
            .modal_input {
                margin-bottom: 15px;
                label {
                    display: block;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000010;
                    font-weight: normal;
                    text-transform: uppercase;
                    span {
                        color: #e10052;
                    }
                }
                input[type="text"] {
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    line-height: 16px;
                    padding: 8px 14px;
                    border: 1px solid #898989;
                    -webkit-appearance: none;
                    color: #000010;
                    text-transform: uppercase;
                }
            }
            .modal_tip {
                font-size: 8px;
                text-transform: uppercase;
                margin-bottom: 5px;
                span {
                    color: #e10052;
                }
            }
            .modal_link {
                margin-bottom: 5px;
                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .modal_checkbox {
                input[type="checkbox"] {
                    vertical-align: top;
                    margin: 0 3px 0 0;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
                input[type="checkbox"] + label {
                    display: block;
                    cursor: pointer;
                }
                input[type="checkbox"]:not(checked) {
                    position: absolute;
                    opacity: 0;
                }
                input[type="checkbox"]:not(checked) + label {
                    position: relative;
                    padding: 0 0 40px 24px;
                    font-size: 12px;
                    color: #000010;
                    margin: 0;
                    font-weight: normal;
                    text-transform: uppercase;
                }
                input[type="checkbox"] + label:before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #8c8c8c;
                    border-radius: 14px;
                    background: #FFFFFF;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    z-index: 1;
                }
                input[type="checkbox"] + label:after {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background: #662483;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    z-index: 2;
                }

                input[type="checkbox"]:not(checked) + label:after {
                    display: none;
                }
                input[type="checkbox"]:checked + label:after {
                    display: block;
                }
            }
            .modal_button {
                input[type="submit"] {
                    display: block;
                    margin: 0 auto;
                    width: 210px;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: #FFFFFF;
                    background: #662483;
                    border: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    letter-spacing: .5px;
                    &:hover {
                        opacity: .85;
                    }
                }
            }
        }
    }

    #rules {
        .modal_rules {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    position: relative;
                    padding-left: 50px;
                    margin-bottom: 40px;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        @include transform(translateY(-50%));
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                        font-style: normal;
                        border: 1px solid #000010;
                        border-radius: 30px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 16px;
                        text-transform: uppercase;
                        padding: 0;
                        margin: 0;
                    }
                    .modal_rules_timer {
                        position: absolute;
                        top: -15px;
                        left: 250px;
                        span:nth-child(1) {
                            display: block;
                            font-size: 37px;
                            line-height: 37px;
                            color: #662483;
                            font-weight: bold;
                            margin-left: -3px;
                        }
                        span:nth-child(2) {
                            display: block;
                            text-align: center;
                            font-size: 17px;
                            line-height: 17px;
                            text-transform: uppercase;
                        }
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: -5px;
                            left: 55px;
                            width: 53px;
                            height: 66px;
                            background: url('/game/images/timer_icon.png') top left/contain no-repeat;
                        }
                    }
                    .modal_rules_arrow {
                        position: absolute;
                        top: -226px;
                        left: 305px;
                        width: 215px;
                        height: 237px;
                        background: url('/game/images/arrow.png') top left/contain no-repeat;
                    }
                }
            }
        }
        .modal_link {
            margin-bottom: 20px;
            margin-top: -20px;
            text-align: center;
            a {
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .modal_button {
            .button {
                display: block;
                margin: 0 auto;
                width: 175px;
                height: 39px;
                line-height: 39px;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #FFFFFF;
                background: #662483;
                border: none;
                text-transform: uppercase;
                cursor: pointer;
                letter-spacing: .5px;
                &:hover {
                    opacity: .85;
                }
            }
        }
    }

    #card {
        .modal_body {
            //padding: 25px;
        }
        .modal_card {
            &_main {
/*                 position: relative;
                    padding-left: 160px;
                    padding-top: 10px;
                    padding-bottom: 20px; */
                    position: relative;
                    display: inline-block;
                    height: 100%;
                    width: 27%;
                    overflow-y: auto;
                p {
                    padding-bottom: 10px ;
                    padding-left: 63px;
                }
                .woman_portrait {
/*                     position: absolute;
                        top: -10px;
                        left: 0px;
                        width: 153px;
                        height: 153px; */
                            width: 153px;
                            height: 153px;
                            margin: auto;
                }
            }
            &_hist{
                    display: inline-block;
                    vertical-align: top;
                    width:73%;
                    max-width: 73%;
                    font-size:0;
                    background:#fff;
                    border-bottom-right-radius: 20px;
                    height: 100%;
                    padding: 20px 0px;
                    padding-right: 10px;
                    overflow: hidden;
                    overflow-y: auto;
            }
            &_hist-cell{
                width: 50%;
                display: inline-block;
                vertical-align: top;
                padding-left: 25px;
            }
            &_hist-cell p{
                padding-bottom:10px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                letter-spacing: .5px;
               // padding-bottom: 30px;
                margin: 0;
                //padding-left: 56px;
                strong {
                    color: #662483;
                    font-size: 12px;
                    font-family: Cent21;
                    text-transform: uppercase;
                }
            }
        }
        .modal_button {
            margin-top: 20px;
            .button {
                display: block;
                margin: 0 auto;
                width: 175px;
                height: 39px;
                line-height: 39px;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #FFFFFF;
                background: #662483;
                border: none;
                text-transform: uppercase;
                cursor: pointer;
                letter-spacing: .5px;
                &:hover {
                    opacity: .85;
                }
            }
        }
    }

    #wrong {
        .game__modal_bg {
            background: rgba(70,70,70,0.45);
        }
        .game__modal_form {
            .title {
                font-size: 22px;
                font-family: Ubuntu;
                color: #662483;
                background: #FFFFFF;
                text-transform: uppercase;
                height: 80px;
                line-height: 80px;
                font-weight: bold;
            }
            .modal_body {
                padding-top: 0px;
                p {
                    font-size: 22px;
                    text-align: center;
                    line-height: 28px;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0 0 30px;
                }
            }
            .modal_button {
                .button {
                    display: block;
                    margin: 0 auto;
                    width: 175px;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: #FFFFFF;
                    background: #662483;
                    border: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    letter-spacing: .5px;
                    &:hover {
                        opacity: .85;
                    }
                }
            }
        }
    }

    #error {
        z-index: 20;
        .game__modal_bg {
            background: rgba(70,70,70,0.45);
        }
        .game__modal_form {
            width: 400px;
            margin-left: -200px;
            .modal_body {
                p {
                    font-size: 14px;
                    text-align: center;
                    line-height: 20px;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0 0 30px;
                }
            }
            .modal_button {
                .button {
                    display: block;
                    margin: 0 auto;
                    width: 175px;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: #FFFFFF;
                    background: #662483;
                    border: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    letter-spacing: .5px;
                    &:hover {
                        opacity: .85;
                    }
                }
            }
        }
    }

    .woman_portrait.woman_portrait_1 {
        background: url('/game/images/women/1/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_2 {
        background: url('/game/images/women/2/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_3 {
        background: url('/game/images/women/3/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_4 {
        background: url('/game/images/women/4/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_5 {
        background: url('/game/images/women/5/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_6 {
        background: url('/game/images/women/6/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_7 {
        background: url('/game/images/women/7/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_8 {
        background: url('/game/images/women/8/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_9 {
        background: url('/game/images/women/9/portrait.png') top left/contain no-repeat;
    }
    .woman_portrait.woman_portrait_10 {
        background: url('/game/images/women/10/portrait.png') top left/contain no-repeat;
    }
}

@keyframes preloader_animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 110% 0%;
    }
}
@-webkit-keyframes preloader_animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 110% 0%;
    }
}

.game__wrap #card.game__modal_form .modal_body{
    background: #ede7ef;
    border-radius: 20px;
    font-size: 0;
    position: relative;
    padding:0;
}
#card .game__modal_form .modal_body {
    padding: 0;
}
.game__wrap #card .game__modal_form{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 30%;
        width: 86%;
        margin-left: -230px;
        height:70%;
}
.game__wrap #card .game__modal_form .modal_card {
    font-size: 0;
}
.game__wrap #card .game__modal_form .modal_body{
     position: relative;
         height: 43vh;
     background:#ede7ef;
}
.card_main .card_main__drug-prop {

}
.woman_drugProp{
    font-size: 14px;
}
#woman_drugProp .modal_button .button{
    display: block;
    margin: 0 auto;
    width: 210px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #662483;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .5px;
}

.game #card .modal_card p span {
    display: block !important;
}
.game #card .modal_card p span:first-letter
{
    text-transform: uppercase;
}