<div class="modal fade modal-default jsModalFeedback" tabindex="-1">
    <div class="modal-dialog">
        <a href="#" data-dismiss="modal" class="modal__close"></a>
        <form action="#" class="form">
            <div class="form__title">НАПИСАТЬ E-MAIL</div>
            <label class="form__label">
                ИМЯ
                <span class="form__input">
                    <input type="text" required>
                </span>
            </label>
            <label class="form__label">
                E-MAIL
                <span class="form__input">
                    <input type="email" required>
                </span>
            </label>
            <label class="form__label">
                ТЕЛЕФОН
                <span class="form__input">
                    <input type="text" required>
                </span>
            </label>
            <label class="form__label">
                СООБЩЕНИЕ
                <span class="form__textarea">
                    <textarea name="name" rows="8" cols="80" required></textarea>
                </span>
            </label>
            <button class="button form__button">ОТПРАВИТЬ</button>
        </form>
    </div>
</div>

<div class="modal fade modal-default jsModalFeedbackSuccess" tabindex="-1">
    <div class="modal-dialog">
        <div class="form-message">
            <div class="form-message__title">Спасибо, Ваше сообщение отправлено. Мы свяжемся с Вами в ближайшее время</div>
            <button data-dismiss="modal" class="button form-message__button">Ок</button>
        </div>
    </div>
</div>

<div class="modal fade modal-default jsModalFeedbackError" tabindex="-1">
    <div class="modal-dialog">
        <div class="form-message">
            <div class="form-message__title jsModalFeedbackErrorMessage">Текст ошибки</div>
            <button data-dismiss="modal" class="button form-message__button">Ок</button>
        </div>
    </div>
</div>
