.owl {
    &-item {
        transform: translateZ(0);
    }
}

.slider-promo {
    border-radius: 8px;
    overflow: hidden;
    &__item {
        height: 300px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #86c4af;
        display: block;
        border-radius: 8px;
        overflow: hidden;
    }
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 300px;
        display: table;
        > span {
            display: table-cell;
            vertical-align: middle;
            color: #3b5b6e;
            font-size: 35px;
            font-weight: 700;
            line-height: 35px;
            padding: 15px 32px;
            padding-bottom: 40px;
        }
    }
    .owl {
        &-dots {
            position: absolute;
            bottom: 32px;
            left: 0;
            width: 100%;
            z-index: 10;
            text-align: center;
        }
        &-dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: white;
            border: 2px solid #75b49f;
            transition: all .2s ease-in-out;
            border-radius: 50%;
            position: relative;
            margin: 0 15px;
            &:hover {
                &:before {
                }
            }
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                transition: all .2s ease-in-out;
                opacity: 0;
                margin-top: -12px;
                margin-left: -12px;
                @include image2x('icon/dot-active');
                transform: scale(0);
            }
            &.active {
                &:before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}
