
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<div id="ipad_fix" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: -20;"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    alert($('#ipad_fix').width()+' '+$('#ipad_fix').height());
</script>