@@include('include/header.html')

<div class="form">
    <form>
        <div class="form_row">
            <div class="form_input">
                <label for="surname">Фамилия<span>*</span>:</label>
                <input type="text" name="surname" id="surname" data-required="true" />
                <p class="error">обязательное поле</p>
            </div>
            <div class="form_input">
                <label for="name">Имя<span>*</span>:</label>
                <input type="text" name="name" id="name" data-required="true" />
                <p class="error">обязательное поле</p>
            </div>
        </div>
        <div class="form_row">
            <div class="form_input">
                <label for="middle_name">Отчество:</label>
                <input type="text" name="middle_name" id="middle_name" />
            </div>
        </div>
        <div class="form_row">
            <div class="form_date">
                <label for="birthday_day">Дата рождения:</label>
                <select name="birthday_day" id="birthday_day">
                    <option disabled selected>День</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>
                <select name="birthday_month" id="birthday_month">
                    <option disabled selected>Месяц</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <select name="birthday_year" id="birthday_year">
                    <option disabled selected>Год</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                </select>
            </div>
        </div>
        <div class="form_row">
            <div class="form_input">
                <label for="middle_name">Город:</label>
                <select name="city" id="city" class="selectpicker" data-size="10" data-live-search="true">
                    <option>Магадан</option>
                    <option>Магас</option>
                    <option>Магнитогорск</option>
                    <option>Макарьев</option>
                    <option>Макушино</option>
                </select>
            </div>
        </div>
        <div class="form_row">
            <div class="form_input">
                <label for="phone">Телефон<span>*</span>:</label>
                <input type="text" name="phone" id="phone" data-required="true" />
                <p class="error">обязательное поле</p>
            </div>
            <div class="form_input">
                <label for="email">E-mail<span>*</span>:</label>
                <input type="text" name="email" id="email" data-required="true" />
                <p class="error">обязательное поле</p>
            </div>
        </div>
        <div class="form_row">
            <div class="form_checkbox">
                <label for="agreement"><input type="checkbox" id="agreement" name="agreement" /><span><a href="#">Согласен на обработку персональных данных</a><span>*</span></span></label>
                <p class="tip"><span>*</span> Обязательные поля</p>
            </div>
        </div>
        <hr/>
        <div class="form_row_buttons">
            <button class="btn_purple">Отправить данные<br/>из cookies</button>
            <button class="btn_gray">Сохранить</button>
        </div>
    </form>
</div>


@@include('include/footer.html')
