.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 2px;
}

.rangeslider {
  // background-color: #75b49f;
  border-radius: 7px;
  position: relative;
  &:before {
      position: absolute;
      top: 0;
      left: 10px;
      background-color: #75b49f;
      height: 100%;
      width: calc(100% - 18px);
      content: '';
      border-radius: 7px;
  }
}

.rangeslider--horizontal {
  height: 7px;
  width: 100%;
  cursor: pointer;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  opacity: 0.4;
}

.rangeslider__fill {
  background-color: #d6e8a6;
  position: absolute;
  border-radius: 7px;
  margin-left: 10px;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  @include image2x('filter/handle');
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow .2s ease-in-out;
  border-radius: 20px;
  text-align: center;
  &:hover,
  &:focus,
  &:active {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	  > span {

	  }
  }
  > span {
      margin-top: 33px;
	  margin-left: -100px;
      margin-right: -100px;
	  display: inline-block;
	  vertical-align: top;
	  white-space: nowrap;
      user-select: none;
      color: #3b5b6e;
      font-size: 20px;
      font-weight: 700;
      line-height: 16px;
  }
}
.rangeslider__handle:active {
	// box-shadow: inset 0 -2px 6px #9fb626, 0 1px 2px rgba(0, 0, 0, 0.75);
}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -13px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {

}
