/* Modal
----------------------------------------------------------------------------------------------------*/
.modal {
    color: #000;
    &-backdrop {
        background-color: #411f1f;
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        cursor: pointer;
        width: 40px;
        height: 40px;
        &:before {
            position: absolute;
            top: 14px;
            left: 25px;
            width: 1px;
            height: 13px;
            content: '';
            background-color: #411f1f;
            transform-origin: 0 0;
            transform: rotate(45deg);
        }
        &:after {
            position: absolute;
            top: 14px;
            left: 15px;
            width: 1px;
            height: 13px;
            content: '';
            background-color: #411f1f;
            transform-origin: 100% 0;
            transform: rotate(-45deg);
        }
    }
    &-default {
        .modal {
            &-dialog {
                width: 280px;
                width: calc(100vw - 40px);
            	background-color: #fafafa;
            	box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.04);
                margin-left: auto;
                margin-right: auto;
                margin-top: 100px;
                margin-bottom: 50px;
                border-top: 5px solid #e2c093;
                padding: 0 35px;
                padding-top: 45px;
                padding-bottom: 55px;
            }
        }
    }
}
